.navbar-brand {
    vertical-align: center;
}

.active {
    font-weight: bold;
}

.hide-for-admin {
    display: none;
}

.hide-for-prof {
    display: none;
}

.hide-for-etudiant {
    display: none;
}

.combobox {
    position: relative;
    display: inline-block;
}

.combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}