<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}"/>
    <title>{{ title }}</title>
</head>
<body>
<script>
    window.onload = function () {
        const role = sessionStorage.getItem('role');
        const elts = document.querySelectorAll('.admin, .prof, .etudiant');

        for (let elt of elts) {
            elt.classList.add(`hide-for-${role}`);
        }

        const eltsvisibles = document.querySelectorAll(`.${role}`)

        for (let elt of eltsvisibles) {
            elt.classList.remove(`hide-for-${role}`);
        }
    }
</script>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #00B8DE">
    {% macro set_active_if(variable, name) %}
        {% if variable == name %}
            class="nav-link active"
        {% else %}
            class="nav-link"
        {% endif %}
    {% endmacro %}
    <a class="navbar-brand" href="/">
        <img class="d-inline-block align-center" width="100" src="{{ url_for("static", filename="img/logo.jpg") }}"
             alt=""/>
        Menu
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="{{ url_for("view_etudiants") }}" {{ set_active_if(active_page, "view_etudiants") }}>Étudiants</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for("view_enseignants") }}" {{ set_active_if(active_page, "view_enseignants") }}>Enseignants</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for("view_tafs") }}" {{ set_active_if(active_page, "view_tafs") }}>TAFs</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for("view_entreprises") }}" {{ set_active_if(active_page, "view_entreprises") }}>Entreprises</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for("view_stages") }}" {{ set_active_if(active_page, "view_stages") }}>Stages</a>
            </li>
            <li class="nav-item">
                <button class="btn btn-primary etudiant prof" onclick="changeRole('admin')">Admin</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-secondary admin etudiant" onclick="changeRole('prof')">Professeur</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-success admin prof" onclick="changeRole('etudiant')">Étudiant</button>
            </li>
        </ul>
    </div>

</nav>
<div class="container">
    {% block body %}
    {% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script>
    function changeRole(role) {
        sessionStorage.setItem('role', role);
        location.reload();
    }
</script>
</body>
</html>